{% extends 'base.html.twig' %}

{% block title %}Fabricante index{% endblock %}

{% block body %}
    <h1 class="text-center mb-3">Listado Fabricantes</h1>
     <a class="btn btn-success" href="{{ path('app_fabricante_new') }}">Create new</a>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fabricante</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fabricante in fabricantes %}
            <tr>
                <td>{{ fabricante.id }}</td>
                <td>{{ fabricante.fabricante }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_fabricante_show', {'id': fabricante.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('app_fabricante_edit', {'id': fabricante.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="{{ path('app_fabricante_new') }}">Create new</a>
   
{% endblock %}
