{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .navbar {
            background-color: #202020;
        }

        .navbar-brand img {
            max-height: 60px;
            margin-right: 10px;
         
        }
  .jumbotron {
            background-image: url('{{ asset('css/images/coche.jpg') }}');
            background-size: cover;
            background-position: center;
            color: #fff;
            padding: 4rem;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            
            
        }

  .jumbotron h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .jumbotron h2 {
    font-size: 40px;
  }

     .jumbotron .container.text-center {
    padding-top: 5px; /* Ajusta el valor según sea necesario */
  }
     
    .title {
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 20px;
  }

  .title:hover {
    color:  #555555;
    text-decoration: underline;
  }
       
     .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

.grid-item {
    position: relative;
    overflow: hidden;
   
 
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
      transition: transform 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.grid-item:hover .overlay {
    opacity: 1;
     transform: scale(1.1);
    
}

.overlay h3 {
    color: #fff;
    font-size: 20px;
    text-align: center;
}
    
        .footer {
            background-color: #2f2f2f;
            border-top: 1px solid #ddd;
            padding-top: 15px;
            color: #fff;
        }
        
        .footer .social-icons a {
            color: #999;
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('css/coches/logo.jpg') }}" alt="Logo" />
               
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_producto_index') }}">Producto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_cliente_index') }}">Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_fabricante_index') }}">Fabricante</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_pedido_index') }}">Pedido</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container text-center">
            <h1>BIENVENIDOS A ELITE MOTORS</h1>
            <h2>Donde tus sueños automotrices se hacen realidad</h2>
        </div>
         </div>
         <h1 class="title"> Nuestra gama de coches de lujo</h1>
        <div class="grid-container">
    <div class="grid-item">
        <img src="{{ asset('css/coches/blanco.jpg') }}" alt="Image 1">
        <div class="overlay">
            <h3>Experiencia de lujo sin igual: Descubre nuestra selección de los coches más exclusivos</h3>
        </div>
    </div>
    <div class="grid-item">
        <img src="{{ asset('css/coches/hermoso.jpg') }}" alt="Image 2">
        <div class="overlay">
            <h3>Eleva tu estilo de conducción con nuestra colección de coches de lujo"</h3>
        </div>
    </div>
    <div class="grid-item">
        <img src="{{ asset('css/coches/lujoso.jpg') }}" alt="Image 3">
        <div class="overlay">
            <h3>"Descubre el lujo en movimiento: Los coches más deslumbrantes te esperan"</h3>
        </div>
    </div>
    <div class="grid-item">
        <img src="{{ asset('css/coches/rojo.jpg') }}" alt="Image 4">
        <div class="overlay">
            <h3>La definición del lujo sobre ruedas: Explora nuestra selección exclusiva y conquista la carretera con estilo</h3>
        </div>
    </div>
    <div class="grid-item">
        <img src="{{ asset('css/coches/verde.jpg') }}" alt="Image 5">
        <div class="overlay">
            <h3>El pináculo del lujo automotriz: Descubre nuestra colección de coches exclusivos y déjate llevar por el refinamiento supremo</h3>
        </div>
    </div>
    <div class="grid-item">
        <img src="{{ asset('css/coches/gris.jpg') }}" alt="Image 6">
        <div class="overlay">
            <h3>"El arte de la elegancia en movimiento: Explora nuestra gama de coches lujosos y experimenta un viaje de alto nivel"</h3>
        </div>
    </div>
</div>

<section id="equipo-servicio" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">Nuestro Equipo</h2>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{ asset('css/coches/asesor.jpg') }}" class="card-img-top" alt="Miembro del equipo 1">
                            <div class="card-body">
                                <h5 class="card-title">Santiago Andrade</h5>
                                <p class="card-text">Asesor de Ventas</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{ asset('css/coches/coordinador.jpg') }}" class="card-img-top" alt="Miembro del equipo 2">
                            <div class="card-body">
                                <h5 class="card-title">Juan Antonio</h5>
                                <p class="card-text">Coordinador de Servicio al Cliente</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{ asset('css/coches/jefe.jpg') }}" class="card-img-top" alt="Miembro del equipo 3">
                            <div class="card-body">
                                <h5 class="card-title">Fran Ramírez</h5>
                                <p class="card-text">Jefe de Financiamiento</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="mb-4">Nuestros Servicios</h2>
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ asset('css/coches/mantenimiento.jpg') }}" class="img-fluid" alt="Servicio 1">
                        <p>Mantenimiento y reparación de vehículos</p>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ asset('css/coches/repuestos.jpg') }}" class="img-fluid" alt="Servicio 2">
                        <p>Venta de repuestos y accesorios</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>  

  <footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
              
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <span class="text-muted">@2023</span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</footer>

{% endblock %}