{% extends 'base.html.twig' %}

{% block title %}Cliente index{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">Listado de Clientes</h1>
    <a class="btn btn-success" href="{{ path('app_cliente_new') }}">Crear cliente</a>
    <div class="table-responsive">
    <table class="table table-dark table-striped ">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Apellido1</th>
                <th class="text-center">Apellido2</th>
                <th class="text-center">Direccion</th>
                <th class="text-center">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido1 }}</td>
                <td>{{ cliente.apellido2 }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_cliente_show', {'id': cliente.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('app_cliente_edit', {'id': cliente.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a class="btn btn-success" href="{{ path('app_cliente_new') }}">Crear cliente</a>
{% endblock %}
